* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #8f8f8f;
    font-family: Georgia;
    font-size: 16px;
}
/* Global style */
#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
/* Global sytle end */

/* Navbar style */
.avatar {
    cursor: pointer;
}

.nav-link {
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}
/* Navbar style end */

/* Modal style */

.modal-dialog {
    top: 200px;
}

/* Modal style end */

/* Profile style */
.card {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 370px;
}

.upper {
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user {
    position: relative;
}

.profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px;
}

.profile {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
}

.follow {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

.stats span {
    font-size: 29px;
}

.textarea-edit {
    resize: none;
    height: 200px;
}
/* Profile end */
